{% extends 'base.html.twig' %}

{% block title %}
	Mot de passe oublié
{% endblock %}

{% block body %}

	<section class="wow animate__fadeIn bg-light-gray">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-12 col-lg-7 text-center margin-100px-bottom sm-margin-40px-bottom">
					<div class="position-relative overflow-hidden w-100">
						<span class="text-large text-outside-line-full alt-font font-weight-600 text-uppercase">Mot de passe oublié</span>
					</div>
				</div>

			</div>

			{{ form_start(form) }}
			<div class="row justify-content-center">
				<div class="col-12 col-lg-6 wow animate__fadeIn">
					<div class="padding-fifteen-all bg-white border-radius-6 lg-padding-seven-all">

						{% for label, messages in app.flashes(['success', 'danger']) %}
							{% for message in messages %}
								<div class="alert alert-{{ label }}">
									{{ message }}
								</div>
							{% endfor %}
						{% endfor %}

						<div>
							{{ form_label(form.email) }}
							<div class="text-danger">
								{{ form_errors(form.email) }}
							</div>
							{{ form_widget(form.email) }}
						</div>

						<div class="d-flex align-items-center flex-column">
							<button type="submit" class="btn btn-small border-radius-4 btn-black">Envoyer un lien de récupération</button>
						</div>
					</div>
				</div>
			</div>
			{{ form_end(form) }}
		</div>
	</section>
{% endblock %}
