{% extends 'base.html.twig' %}

{% block title %}
	Mot de passe oublié
{% endblock %}

{% block body %}

	{% for label, messages in app.flashes(['success', 'error']) %}
		{% for message in messages %}
			<div class="flash-{{ label }}">
				{{ message }}
			</div>
		{% endfor %}
	{% endfor %}


	<h1>Mot de passe oublié</h1>

	{{ form_start(form) }}

	<div>
		{{ form_row(form.email) }}
	</div>

	<button type="submit">Envoyer un lien de récupération</button>

	{{ form_end(form) }}
{% endblock %}
