{% extends 'base.html.twig' %}

{% block title %}
	Connexion
{% endblock %}

{% block body %}

	{% for flashSuccess in app.flashes('verify_email_success') %}
		<p>{{ flashSuccess }}</p>
	{% endfor %}
	{% for flashSuccess in app.flashes('verify_email_sent') %}
		<p>{{ flashSuccess }}</p>
	{% endfor %}

	<h1>Connexion</h1>

	{{ form_start(loginForm) }}

	{% if error %}
		<div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
	{% endif %}

	<div>
		{{ form_row(loginForm.email) }}
	</div>

	<div>
		{{ form_row(loginForm.password) }}
	</div>

	<button type="submit">Connexion</button>

	{{ form_end(loginForm) }}
{% endblock %}
