{% extends 'base.html.twig' %}

{% block title %}
	Connexion
{% endblock %}

{% block body %}

	<section class="wow animate__fadeIn bg-light-gray">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-12 col-lg-7 text-center margin-100px-bottom sm-margin-40px-bottom">
					<div class="position-relative overflow-hidden w-100">
						<span class="text-large text-outside-line-full alt-font font-weight-600 text-uppercase">Connexion</span>
					</div>
				</div>
				{% for flashSuccess in app.flashes('verify_email_success') %}
					<p>{{ flashSuccess }}</p>
				{% endfor %}
				{% for flashSuccess in app.flashes('verify_email_sent') %}
					<p>{{ flashSuccess }}</p>
				{% endfor %}


			</div>

			{{ form_start(loginForm) }}
			<div class="row justify-content-center">
				<div class="col-12 col-lg-6 wow animate__fadeIn">
					<div class="padding-fifteen-all bg-white border-radius-6 lg-padding-seven-all">
						{% if error %}
							<div class="alert alert-danger" role="alert">
								{{ error.messageKey|trans(error.messageData, 'security') }}
							</div>
						{% endif %}
						{% for label, messages in app.flashes(['success', 'danger']) %}
							{% for message in messages %}
								<div class="alert alert-{{ label }}">
									{{ message }}
								</div>
							{% endfor %}
						{% endfor %}
						<div>
							{{ form_label(loginForm.email) }}
							<div class="text-danger">
								{{ form_errors(loginForm.email) }}
							</div>
							{{ form_widget(loginForm.email) }}
						</div>
						<div>
							{{ form_label(loginForm.password) }}
							<div class="text-danger">
								{{ form_errors(loginForm.password) }}
							</div>
							{{ form_widget(loginForm.password) }}
							<p class='text-end'>
								<strong>
									<a href="{{ path("auth_forgot_password") }}">Mot de passe oublié ?</a>
								</strong>
							</p>
						</p>
					</div>

					<div class="d-flex align-items-center flex-column">
						<button type="submit" class="btn btn-small border-radius-4 btn-black mb-2">Connexion</button>
						<p>
							Pas de compte ?
							<strong>
								<a href="{{ path("auth_register") }}">Inscrivez-vous</a>
							</strong>
						</p>
					</div>
				</div>
			</div>
			{{ form_end(loginForm) }}
		</div>
	</section>
{% endblock %}
