{% extends 'base.html.twig' %}

{% block title %}
	Modifiez votre mot de passe
{% endblock %}

{% block body %}

	{% for label, messages in app.flashes(['success', 'error']) %}
		{% for message in messages %}
			<div class="flash-{{ label }}">
				{{ message }}
			</div>
		{% endfor %}
	{% endfor %}

	<h1>Modifiez votre mot de passe</h1>

	{{ form_start(form) }}

	<div>
		{{ form_row(form.first ) }}
	</div>
	<div>
		{{ form_row(form.second ) }}
	</div>

	<button type="submit">Modifier le mot de passe</button>

	{{ form_end(form) }}
{% endblock %}
