{% extends "base.html.twig" %}

{% block title %}
	Accueil
{% endblock %}

{% block body %}

	{% for flashSuccess in app.flashes('verify_email_success') %}
		<p>{{ flashSuccess }}</p>
	{% endfor %}
	{% for flashSuccess in app.flashes('trick_delete_success') %}
		<p>{{ flashSuccess }}</p>
	{% endfor %}

	<!-- start hero section -->
	<section class="wow animate__fadeIn p-0 cover-background color-code" data-color="1" style="background-image: url('https://images.unsplash.com/photo-1529669851596-ba9a5549af95?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1332&q=80');">
		<div class="container position-relative full-screen">
			<div class="row h-100 align-items-center">
				<div class="col-12 col-xl-7 col-md-10 mx-auto text-center">
					<span class="text-black after-before-separator text-extra-small alt-font letter-spacing-3 sm-letter-spacing-0 text-uppercase margin-20px-bottom sm-margin-5px-bottom d-inline-block">Snowtricks</span>
					<h2 class="text-black font-weight-600 alt-font margin-40px-bottom sm-margin-25px-bottom">Partagez avec les autres vos plus belles figures</h2>
					<a class="btn btn-extra-large btn-dark-gray lg-margin-15px-bottom d-table d-lg-inline-block md-margin-lr-auto inner-link" href="#tricks">Voir les tricks</a>
				</div>
			</div>
		</div>
	</section>
	<!-- end hero section -->

	<!-- start blog section -->
	<section class="wow animate__fadeIn" id='tricks'>
		<div class="container">
			<div class="row">
				<div class="col-12 blog-content">
					<ul class="blog-zoom-image blog-wrapper grid grid-loading grid-3col xl-grid-3col lg-grid-3col md-grid-2col sm-grid-1col xs-grid-1col blog-post-style4 gutter-large">
						<li class="grid-sizer"></li>

						<!-- start blog post item -->
						{% for trick in tricks %}
							<li class="grid-item wow animate__fadeInUp" data-wow-delay="{{loop.index * 0.2}}s">
								<figure>
									<div class="blog-img bg-extra-dark-gray">
										<a href="{{ path("trick_show", {slug: trick.slug}) }}"><img src="https://images.unsplash.com/photo-1495469552678-d0fb77903866?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=387&q=80" alt=""></a>
									</div>
									<figcaption>
										<div class="portfolio-hover-main text-start">
											<div class="blog-hover-box align-bottom">
												<span class="post-author text-extra-small text-medium-gray text-uppercase d-block margin-5px-bottom sm-margin-5px-bottom">
													{{trick.category.name}}
												</span>
												<h6 class="alt-font d-block text-white-2 font-weight-600 mb-0">
													<a href="{{ path("trick_show", {slug: trick.slug}) }}" class="text-white-2 text-deep-pink-hover">{{trick.name}}</a>
												</h6>
												{% if app.user %}
													<p class="text-medium-gray margin-10px-top w-80 md-w-100 blog-hover-text">
														<a href="{{ path("trick_edit", {slug: trick.slug}) }}">Modifier</a>
														-
														<a href="{{ path("trick_delete", {slug: trick.slug}) }}">Supprimer</a>
													</p>
												{% endif %}
											</div>
										</div>
									</figcaption>
								</figure>
							</li>
						{% endfor %}

					</ul>
				</div>
			</div>
		</div>
	</section>
	<!-- end post content -->
{% endblock %}
