{% for trick in tricks %}
	<li>
		<figure>
			<div class="blog-img bg-extra-dark-gray">
				<a href="{{ path("trick_show", {slug: trick.slug}) }}"><img src="{{ asset('uploads/' ~ trick.mainImage.name) }}" alt=""></a>
			</div>
			<figcaption>
				<div class="portfolio-hover-main text-start">
					<div class="blog-hover-box align-bottom">
						<span class="post-author text-extra-small text-medium-gray text-uppercase d-block margin-5px-bottom sm-margin-5px-bottom">
							{{trick.category.name}}
						</span>
						<h6 class="alt-font d-block text-white-2 font-weight-600 mb-0">
							<a href="{{ path("trick_show", {slug: trick.slug}) }}" class="text-white-2 text-deep-pink-hover">{{trick.name}}</a>
						</h6>
						{% if app.user %}
							<p class="text-medium-gray margin-10px-top w-80 md-w-100 blog-hover-text">
								<a href="{{ path("trick_edit", {slug: trick.slug}) }}">Modifier</a>
								-
								<a href="{{ path("trick_delete", {slug: trick.slug}) }}">Supprimer</a>
							</p>
						{% endif %}
					</div>
				</div>
			</figcaption>
		</figure>
	</li>
{% endfor %}
