{% extends "base.html.twig" %}
{% block title %}
	{{ trick.name }}
{% endblock %}
{% block body %}
	<h1>{{ trick.name }}</h1>
	<p>{{ trick.description }}</p>

	<p>
		date de création :
		{{trick.createdAt|date("d/m/Y")}}
	</p>

	{% if trick.updatedAt is not null %}
		<p>
			date de modification :
			{{trick.updatedAt|date("d/m/Y")}}
		</p>
	{% endif %}

	<p>
		Catégorie :
		{{ trick.category.name }}
	</p>

	<hr/>


	<h2>Nouveau commentaire</h2>

	{% if app.user %}
		{{ form_start(commentForm) }}

		<div>
			{{ form_row(commentForm.content) }}
		</div>

		<button type="submit">Ajouter</button>

		{{ form_end(commentForm) }}

	{% else %}
		<p>Vous devez être connecté pour ajouter un commentaire</p>
		<a href="{{ path("auth_register") }}">Inscription</a>
		<a href="{{ path("auth_login") }}">Login</a>
	{% endif %}


	<h2>Commentaires</h2>
	{% for comment in trick.comments %}
		<b>{{comment.user.userIdentifier }}</b>
		<p>{{ comment.content }}</p>
		<p>date de création :
			{{comment.createdAt|date("d/m/Y")}}</p>
		<br>
	{% endfor %}
{% endblock %}
